//
// Table
//


// General styles

.table {
    thead th {
        padding-top: $table-head-spacer-y;
        padding-bottom: $table-head-spacer-y;
        font-size: $table-head-font-size;
        text-transform: $table-head-text-transform;
        letter-spacing: $table-head-letter-spacing;
        border-bottom: $table-border-width solid $table-border-color;
    }

    th {
        font-weight: $table-head-font-weight;
    }

    td {
        .progress {
            height: 3px;
            width: 120px;
            margin: 0;
        }
    }

    td,
    th {
        font-size: $table-body-font-size;
        white-space: nowrap;
    }


    // Vetical align table content

    &.align-items-center {
        td,
        th {
            vertical-align: middle;
        }
    }


   // Styles for dark table

   .thead-dark {
        th {
            background-color: $table-dark-head-bg;
            color: $table-dark-head-color;
        }
    }


    // Styles for light table

    .thead-light {
        th {
            background-color: $table-head-bg;
            color: $table-head-color;
        }
    }
}


// Add transition for hover state

.table-hover {
    tr {
        @include transition($transition-base);

        &:hover {
            background-color: $table-hover-bg;

            td, th {
                background-color: transparent;
            }
        }
    }

    // Clickable rows
    .clickable-row {
        cursor: pointer;

        &:hover {
            background-color: rgba($primary, 0.05);
            transform: translateY(-1px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

// Responsive table improvements for dropdown menus
.table-responsive {
    min-height: 200px; // Minimum height to prevent dropdown menu clipping

    .table {
        // Ensure dropdown menus are visible by adding z-index to last column
        td:last-child {
            position: relative;
            z-index: 10;
        }

        // Dropdown menu positioning
        .dropdown-menu {
            z-index: 1050; // Higher than table content
            position: absolute;
            right: 0;
            min-width: 140px;
        }
    }
}

// Dark table hover
.table-dark.table-hover {
    tr {
        &:hover {
            background-color: $table-dark-hover-bg;

            td, th {
                background-color: transparent;
            }
        }
    }

    .clickable-row {
        &:hover {
            background-color: rgba($white, 0.1);
        }
    }
}


// Flush tables

.table-flush {
    td,
    th {
        border-left: 0;
        border-right: 0;
    }

    tbody {
        tr {
            &:first-child {
                td,
                th {
                    border-top: 0;
                }
            }

            &:last-child {
                td,
                th {
                    border-bottom: 0;
                }
            }
        }
    }
}


// Tables inside cards

.card {
    .table {
        margin-bottom: 0;

        td,
        th {
            padding-left: $card-spacer-x;
            padding-right: $card-spacer-x;
        }
    }
}
