.git/
dist/
node_modules/
src/
assets/
bkp_bd/
*.pdf
*.md
angular.json
tsconfig*.json
tslint.json
karma.conf.js
protractor.conf.js
lint-staged.config.mjs
yarn.lock
package-lock.json
.env
.env.example
_config.yml
_layouts/
CNAME
