version: '3.8'

services:
  api:
    build: ./
    image: carpentry-api
    ports:
      - "4040:4040"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
