.box-top {
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    flex-direction: row;
    top: 1rem;

}

/*MOBILE*/
@media only screen and (max-width: 415px) {
    .box-bottom {

        position: fixed;
        z-index: 1000;
        justify-content: space-between;
        flex-direction: row;
        bottom: 1rem;

    }

    .right {
        margin-left: 45px;
    }


}

/*PC*/
@media only screen and (min-width: 415px) {
    .box-bottom {

        position: fixed;
        z-index: 1000;
        justify-content: space-between;
        flex-direction: row;
        bottom: 0.5rem;

    }

    .right {

        margin-left: 71vh;
    }
}